{% extends 'engine_1/base.html' %}

{% block content %}
<div>
	<h1 class="">About BenAna</h1>
	<p>BenAna or Benchmark Analysis is used to analyze your python code!</p>
	<p>It measures and records the runtime and memory used for your script.</p>
	<p>Measurements are tracked and can be viewed.</p>
	
	<div class="mt-3">
		<p>More about the code can be found here!</p>
		<p>Github:</p>
		<p class=""><a href="https://github.com/jyty17/python-fullstack" title="GithubLink">https://github.com/jyty17/python-fullstack</a></p>
	</div>
</div>

{% endblock %}