{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>BenAna</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<div class="page-header">
		<a href="/engine"><h1>BenAna</h1></a>
		<a href="/engine/about" title="">About</a>
		<a href="/engine/upload" title="">Upload</a>
		<a href="/engine/help" title="">Help</a>
		{% if user %}
			<a href="{% url 'engine_1:user_profile' user.id %}" title="">Profile</a>
		{% endif %}
		{% if not user %}
			<a href="/engine/login" title="">Login</a>
		{% endif %}
	</div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>