{% extends 'engine_1/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex">
	<div class="w-50">
		<h1>Upload Info</h1>
		<form method="POST" class="w-75">
			{% csrf_token %}
			{{ form|crispy }}
			<div>
				<a href="{% url 'engine_1:home' %}" title="" class="btn btn-secondary">Back</a>
				<input type="submit" value="Upload" class="btn btn-success">
			</div>
		</form>
	</div>
	<div class="w-50">
		<h1>History</h1>
		<div class="text-right">
			<h2>RunTime</h2>
		</div>
		<div class="text-right">
			<h2>Memory</h2>
		</div>
	</div>
</div>
{% endblock %}